.container-fluid {
	.todo, .tenantBlog, .blockChat {
		margin-top: 100px;
	}
	.welcome {
		margin-top: 100px;
	}
}
.navbar-collapse {
	overflow: visible !important;
}

// Temp Styling For Velocity Wdiget
#velocity-status-widget {
	top: initial;
	bottom: 0px;
	// display:none;
}


