<template name="blockChat">
	<div class="blockChat">
		<div class="row " style="padding-top:40px;">
			<h3 class="text-center">Block Chat</h3>
			<br>
			<br>
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						RECENT CHAT HISTORY
					</div>
					<div class="panel-body">
						<ul class="media-list">
							{{> messages }}
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							{{> input }}
							<span class="input-group-btn">
							<a class="btn btn-info sendChatMessage" href='#'>SEND</a>
					</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						ONLINE USERS
					</div>
					<div class="panel-body">
						<ul class="media-list">
							{{#each onlusr}}
							<li class="media">
								<div class="media-body">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png">
										</a>
										<div class="media-body">
											<h5 class="user"><a href='#'>{{username}}</a></h5>
										</div>
									</div>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						OFFLINE USERS
					</div>
					<div class="panel-body">
						<ul class="media-list">
							{{#each offlineUsers}}
							<li class="media">
								<div class="media-body">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png">
										</a>
										<div class="media-body">
											<h5 class="user"><a class="loggedOutUser" href='#'>{{username}}</a>(Last Online: {{status.lastLogin.date}})</h5>
										</div>
									</div>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
